*.suo

FlexberryORM/CDLIB/BusinessServers/CDLIB(BusinessServers).xml
FlexberryORM/CDLIB/Objects/CDLIB(Objects).xml
FlexberryORM/CustomDB/Objects/CustomDB(Objects).xml
FlexberryORM/MultiDetail/Objects/MultiDetail(Objects).xml
FlexberryORM/MultiMaster/Objects/MultiMaster(Objects).xml

/**/bin/*
/**/obj/*

# NuGet packages cache.
/**/packages/*
# Flexberry packages are not present at nuget.org yet.
!/**/packages/NewPlatform.Flexberry.CurrentUserService.1.0.0
!/**/packages/NewPlatform.Flexberry.LogService.1.0.0
!/**/packages/NewPlatform.Flexberry.ORM.1.0.0
!/**/packages/NewPlatform.Flexberry.UnityFactory.1.0.0